
  .subscribe{
    background-color: rgb(204, 0, 0); 
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius:2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
  .subscribe:hover{
    opacity: 0.8;
  }

  .subscribe:active{
    opacity:0.5;
  }

 

 

  .join{
    background-color: white;
    border-color: rgb(36, 46, 233);
    color: rgb(36, 46, 233); 
    border-radius:2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-right: 8px;
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 16px;

    transition: background-color 0.15s, color 0.15s;
  }

  .join:hover{
    background-color:rgb(36, 46, 233);
    color: white;
  }

  .join:active{
    opacity:0.7;
  }





  .tweet{
    background-color: rgb(18, 144, 240);
    border-radius: 18px;
    border: none;
    color:white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15  )
  }
