p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .title{
        font-size: 17px;
        font-weight: bold;
        line-height:24px;
        width: 100px;
        margin-bottom:0px;
        
    }

    .views{
        color: rgb(96,96,96);
        font-size:13px;
        margin-top:3px;
        margin-bottom: 18px;
    }

    .channel{
        color: rgb(96,96,96);
        font-size:13px;
        margin-bottom: 18px;
    }

    .description{
        color: rgb(96,96,96);
        font-size:13px;
        width: 260px;
        line-height:22px;
        margin-bottom: 18px;
    }
        
    .shop{
        margin-bottom: 50px;
        font-size:14px;
        background-color: rgb(227, 65, 64);
        color:white;
        text-align: center;
        padding-top:18px;
        padding-bottom: 18px;
        padding-left: 18px;
        padding-right: 18px;
        

    }
    
    .span{
        cursor: pointer; 
        margin-left: 12px;
    }
    .span:hover{
        text-decoration: underline;
    }